<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>重置密码</title>
		<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
		<link rel="stylesheet" href="css/element-ui.css" />
		<script type="text/javascript" src="js/vue.js"></script>
		<script type="text/javascript" src="js/element-ui.js"></script>
		<script type="text/javascript" src="js/data.js"></script>
	</head>

	<body>
		<div id="app">
			<center>
				<div style="width: 500px;height: 300px; background-color:#ECF5FF;margin-top: 100px;">
					<h3>重置密码</h3>
					<el-form :model="dataform" label="100px">
						<el-form-item label="用户账号" prop='account' :rules="{ required: true, message: '用户账号不能为空'}">
							<el-input v-model="dataform.account" style="width: 300px;"></el-input>
						</el-form-item>

						<el-form-item label="用户手机号" prop='phone' :rules="{ required: true, message: '用户手机号不能为空'}">
							<el-input v-model="dataform.phone" style="width: 300px;"></el-input>
						</el-form-item>
						<el-form-item>
							<el-button @click="submit">确认重置</el-button>
						</el-form-item>
						<el-form-item>
							<div align="left">
								<el-link type="primary" href="login.html">点此，去登陆</el-link>
							</div>
						</el-form-item>
					</el-form>
				</div>

		</div>
		</center>
	</body>
	<script>
		var myvue = new Vue({
			el: "#app",
			data() {
				return {
					dataform: {
						account: '',
						phone: ''
					}
				}
			},
			methods: {
				submit: function() {
					if(myvue.dataform.account == "" || myvue.dataform.account == null) {
						alert("请填写用户账号");
					} else if(myvue.dataform.phone == "") {
						this.$message("请填写用户手机号");
					} else {
						$.ajax({
							type: "get",
							url: ip + "bbs/reset",
							async: true,
							data: {
								account: myvue.dataform.account,
								phone: myvue.dataform.phone
							},
							dataType: "json",
							xhrFields: {
								withCredentials: false
							},
							success: function(data) {
								myvue.$message(data.message + ",快去登录吧");
								window.location.href = "login.html";
							}
						});
					}

				},
				test: function() {
					myvue.$message("data.message");
				}

			}
		});
	</script>

</html>