<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>源论坛主页</title>
		<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
		<link rel="stylesheet" href="css/element-ui.css" />
		<script type="text/javascript" src="js/vue.js"></script>
		<script type="text/javascript" src="js/element-ui.js"></script>
		<style>
			.el-header {
				line-height: 60px;
			}
			
			.el-footer {
				background-color: #B3C0D1;
				color: #333;
				/*				text-align: center;
*/
				line-height: 60px;
			}
			
			.el-aside {
				background-color: #D3DCE6;
				color: #333;
				text-align: center;
				line-height: 100%;
			}
			
			.el-main {
				background-color: #E9EEF3;
				color: #333;
				text-align: center;
				line-height: 160px;
			}
		</style>

	</head>

	<body>
		<div id="app">
			<el-container style="border: 1px solid #eee">
				<el-header>
					<div class="el-col-md-3">
						<span>代码改变世界</span>
					</div>
					<div class="el-col-md-3">
						<el-image src="img/bbs-logo.png" fit='contain'></el-image>
					</div>
					<div style="text-align: right;">
						<button>写博客</button>
						<button>登录</button>
						<button>注册</button>
					</div>
					<div id="mynav"></div>
				</el-header>

				<el-container>
					<el-aside width="200px">
						<a href="#">网站分类</a>
						<!--<el-submenu v-for="(i,menu1) in caidan">
								<el-menu-item-group index=i>
									{{menu1.name}}
									<el-menu-item v-for="(j,menu2) in menu1.list">
										<el-menu-item index=j>{{menu2.name}}</el-menu-item>
									</el-menu-item>
								</el-menu-item-group>
						</el-submenu>-->
						<el-menu default-active="2" class="el-menu-vertical-demo" >
							<el-submenu :index=i+'' v-for="(menu1,i) in caidan">
								<template slot="title">
									<span>{{menu1.name}}</span>
								</template>
								<!--							<el-menu-item>1232</el-menu-item>
-->

								<el-menu-item v-for="(menu2,j) in menu1.list">{{menu2.name}}</el-menu-item>
							</el-submenu>

						</el-menu>
					</el-aside>
					<el-container>
						<el-main>Main</el-main>
						<el-footer>Footer</el-footer>
					</el-container>
				</el-container>
			</el-container>

		</div>
	</body>
	<script>
		var vue1 = new Vue({
			el: '#app',
			data() {
				return {
					src: 'img/bbslogo.png',
					caidan: ''
				}
			},
			methods: {

			},
			mounted: function() {
				_this = this;
				$.ajax({
					url: 'http://localhost:8081/bbs/ShowSection', // 跨域URL
					type: 'get',
					dataType: "json",
					xhrFields: {
						withCredentials: true
					},
					success: function(data) {
						console.log(data);
						_this.caidan = data.data;
					}
				});
			}
		});
	</script>

</html>