<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>密码重置</title>
		<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
		<link rel="stylesheet" href="css/element-ui.css" />
		<script type="text/javascript" src="js/vue.js"></script>
		<script type="text/javascript" src="js/element-ui.js"></script>
	</head>

	<body>
		<div id="app">
			<h1 align="center">密码找回页面</h1>
			<el-steps :active="active" finish-status="success">
				<el-step title="步骤1" description="请输入你的账户名"></el-step>
				<el-step title="步骤2" description="请输入你的注册手机号"></el-step>
				<el-step title="步骤3" description="密码找回"></el-step>
			</el-steps>
			<el-button style="margin-top: 20px;" @click="next">下一步</el-button>
			<div>
				<template>
					<el-form :model="form" ref="form" :rules="rules" label-width="100px">
						<el-form-item label="账户" prop="account">
							<el-input v-model="form.account"></el-input>
						</el-form-item>
						<el-form-item label="注册手机号" prop="phone">
							<el-input v-model="form.phone"></el-input>
						</el-form-item>
						<el-form-item>
							<el-button type="primary" @click="submitForm('form')">找回密码</el-button>
						</el-form-item>
					</el-form>
				</template>
			</div>

		</div>
	</body>
	<script>
		new Vue({
			el: '#app',
			data() {
				return {
					active: 0,
					form: {
						account: '1',
						phone: '1'
					},
					rules: {
						account: [{
								required: true,
								message: '账户不能为空',
								trigger: 'blur'
							},
							{
								min: 6,
								max: 12,
								message: '长度在 6到 12 个字符',
								trigger: 'blur'
							}
						],
						phone: [{
								required: true,
								message: '手机号不能为空',
								trigger: 'blur'
							},

							{
								min: 8,
								max: 11,
								message: '长度为11个字符',
								trigger: 'blur'
							}
						]

					}

				};
			},
			methods: {
				next() {
					if(this.active++ > 2) this.active = 0;
				},

				submitForm(form) {
					_this = this;
					$.ajax({
						url: 'http://localhost:8081/bbs/reset', // 跨域URL
						type: 'get',
						data: JSON.stringify(this.form),
						dataType: 'json',
						xhrFields: {
							withCredentials: true
						},
						success: function(data) {
							console.log(data);
						}
					});

				}
			}
		});
	</script>

</html>