<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
		<link rel="stylesheet" href="css/element-ui.css" />
		<script type="text/javascript" src="js/vue.js"></script>
		<script type="text/javascript" src="js/element-ui.js"></script>
	</head>

	<body>
		<div id="app">
			<el-row class="tac">
				<el-col :span="12">
					<h5>默认颜色</h5>
					<el-menu default-active="2" class="el-menu-vertical-demo" @open="handleOpen" @close="handleClose" >
						<el-submenu :index=menu1 v-for="(i,menu1) in caidan">
							<template slot="title">
								<span>{{i.name}}</span>
							</template>
							<!--							<el-menu-item>1232</el-menu-item>
-->

							<el-menu-item index=menu1-menu2 v-for="(j,menu2) in i.list">{{j.name}}</el-menu-item>
						</el-submenu>

					</el-menu>
				</el-col>

		</div>

		<script>
			new Vue({
				el: '#app',
				data() {
					return {
						src: 'img/bbslogo.png',
						caidan: '',
						index:[1,2,3,4,5,6,7]
					}
				},
				methods: {
					handleOpen(key, keyPath) {
						console.log(key, keyPath);
					},
					handleClose(key, keyPath) {
						console.log(key, keyPath);
					}
				},
				mounted: function() {
					_this = this;
					$.ajax({
						url: 'http://10.25.115.221:8080/bbs/ShowSection', // 跨域URL
						type: 'get',
						dataType: "json",
						xhrFields: {
							withCredentials: true
						},
						success: function(data) {
							console.log(data);
							_this.caidan = data.data;
						}
					});
				}
			});
		</script>
	</body>

</html>