<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
		<link rel="stylesheet" href="../css/element-ui.css" />
		<script type="text/javascript" src="../js/vue.js"></script>
		<script type="text/javascript" src="../js/element-ui.js"></script>
		<script src="../js/data.js" type="text/javascript" charset="utf-8"></script>
		<style type="text/css">
			[v-cloak] {
				display: none;
			}

			/* 这是头和脚 */
			.el-header {
				background-color: #B3C0D1;
				color: #333;
				text-align: center;
				line-height: 60px;
			}

			.el-footer {
				background-color: #B3C0D1;
				color: #333;
				line-height: 60px;
			}

			/* 这是主体 */
			.el-main {
				background-color: #E9EEF3;
				color: #333;
			}

			/* 这是标题 */
			.title {
				font: italic bolder 30px "黑体";
				height: 40px;
			}

			/* 这是作者和时间 */
			.time {
				float: right;
				color: #909399;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<el-page-header @back="goBack" :content=post.sectionname></el-page-header>
			<div v-if="postid===''">
				<!-- 没有接收到文章 -->
				好像出错了
			</div>
			<el-row v-else v-cloak>
				<el-col :span="20" :offset="2">
					<el-container>
						<el-header>
							<span class="title">{{post.title}}</span>
						</el-header>
						<el-col :span="16" :offset="4">
							<el-main>
								 &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
								<strong>文：{{post.username}}</strong>
								<span class="time">发布于{{post.postdate}}</span>
							</el-main>
							<el-main style="height: 450px; overflow: auto;">
								{{post.content}}
							</el-main>
							<el-main v-show=post.postdate!=post.edittime>
								<span class="time">{{post.edituser}}在{{post.edittime}}修改过</span>
							</el-main>
							<el-footer>
								<el-col :span="20">
									<el-input type="textarea" :rows="2" placeholder="留下你的评论" v-model="reply">
									</el-input>
								</el-col>
								<el-col :span="3" :offset="1">
									<el-button style="width: 100%;" :loading=loading @click="onclick">评论</button>
								</el-col>
							</el-footer>
							<el-main>
								<el-card v-show='post.hot===1'>
									加精原因：
									{{post.hotreason}}
								</el-card>
								<el-card v-for="(re,i) in list">
									{{re.username}}:
									{{re.content}}
									<span class="time">{{re.replaytime}}</span>
									<el-button type="text" type="danger" style="float: right;" @click="remove(re.replyid)">删除</el-button>
									
								</el-card>
							</el-main>
						</el-col>
					</el-container>
				</el-col>
			</el-row>
		</div>
	</body>
	<script type="text/javascript">
		new Vue({
			el: "#app",
			data: {
				userid: 1,
				postid: '',
				post: {},
				list: [],
				reply: '',
				loading: false
			},
			methods: {
				goBack() {
					console.log('go back');
				},
				/*点击按钮发布评论*/
				onclick() {
					//加载中
					this.loading = true;
					// 先登录
					if (this.userid == null) {
						this.$message({
							message: '请先登录',
							type: 'warning'
						});
						return;
					}
					var url = 'http://' + address + ':' + interface + '/bbs/ReplySend';
					var _this = this;
					$.ajax({
						url: url,
						data: {
							userid: _this.userid,
							postid: _this.post.postid,
							content: _this.reply
						},
						dataType: 'json', //服务器返回json格式数据
						type: 'post', //HTTP请求类型
						timeout: 10000, //超时时间设置为10秒；
						success: function(data) {
							if (data.success) {
								//弹出消息
								_this.$message({
									message: '评论成功',
									type: 'success'
								});
								//刷新界面
								_this.getpost();
							} else {
								//弹出错误信息
								console.log(data);
								_this.$message({
									message: data.message,
									type: 'error'
								});
							}
							//加载完成,清空评论框
							_this.loading = false;
							_this.reply = '';
						},
						error: function(xhr, type, errorThrown) {
							console.log('失败');
							_this.$message({
								message: "评论失败",
								type: 'error'
							});
							_this.loading = false;
						}
					});
				},
				/*删除评论*/
				remove(replyid) {
					//判断登录
					if (this.userid == null) {
						this.$message({
							message: '请先登录',
							type: 'warning'
						});
						return;
					}
					var url = 'http://' + address + ':' + interface + '/bbs/ReplyDelete';
					var _this = this;
					$.ajax({
						url: url,
						data: {
							replyid: replyid,
							userid: _this.userid
						},
						dataType: 'json', //服务器返回json格式数据
						type: 'post', //HTTP请求类型
						timeout: 10000, //超时时间设置为10秒；
						success: function(data) {
							if (data.success) {
								//弹出消息
								_this.$message({
									message: '删除成功',
									type: 'success'
								});
								//刷新界面
								_this.getpost();
							} else {
								//弹出错误信息
								console.log(data);
								_this.$message({
									message: data.message,
									type: 'error'
								});
							}
						},
						error: function(xhr, type, errorThrown) {
							console.log('失败');
						}
					});
				},
				/*获取文章内容和评论*/
				getpost() {
					var url = 'http://' + address + ':' + interface + '/bbs/PostFind';
					var _this = this;
					$.ajax({
						url: url,
						data: {
							postid: _this.postid
						},
						dataType: 'json', //服务器返回json格式数据
						type: 'post', //HTTP请求类型
						timeout: 10000, //超时时间设置为10秒；
						success: function(data) {
							if (data.success) {
								_this.post = data.data.post;
								_this.list = data.data.replylist;
							} else {
								_this.postid = '';
								//弹出错误信息
								console.log(data);
								_this.$message({
									message: data.message,
									type: 'error'
								});
							}
							console.log(data);
						},
						error: function(xhr, type, errorThrown) {
							console.log('失败');
							_this.postid = '';
							_this.$message({
								message: '加载文章失败',
								type: 'error'
							});
						}
					});
				}
			},
			mounted() {
				this.postid = sessionStorage.getItem("postid");
				this.userid = sessionStorage.getItem("userid");
				console.log(this.postid);
				if (this.postid != '') this.getpost();
			}
		})
	</script>
</html>
